html{width: 100%;height: 100%;overflow: hidden;}
.input form{
    position: absolute;
    top: 40%;
    left: 40%;
    margin: -150px 0 0 -150px;
}
body{
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    
}
form {
    background-color:rgb(60, 103, 158);      
    color:white;
    padding:20px;
    border-radius:20px;
}
input[type=number] :focus{
    border: 3px solid rgb(14, 54, 2);
    font-size: 15px;
    border-radius: 4px;
    height:25px;
    margin: 25px;
    float: center;
}

input:invalid {
    border-color: none;
}
#submit{
    border:2px;
    background-color: darkgreen;
    color: white ;
    font-size: 20px;
    border-radius:4px;
    width:100px;
    height:25px;
}
#submit:hover{
    background-color:rgb(146, 241, 83);
    transition: .5s ease-in-out;
    color:black;
}

